{% extends 'base.html' %}
{% load static %}
{% block content %}

    <main class="main">
        <section class="home-slider position-relative">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="position-relative">
                            <div class="hero-slider-1 style-3 dot-style-1 dot-style-1-position-1">
                                {% for banner in banners %}
                                    <div class="single-hero-slider single-animation-wrap">
                                        <div class="container">
                                            <div class="slider-1-height-3 slider-animated-1">
                                                <div class="hero-slider-content-2">
                                                    <h4>{{ banner.desc|safe }}</h4>
                                                    <a class="animated btn btn-default btn-rounded"
                                                       href="#"> SHOP NOW <i
                                                            class="fa fa-arrow-right"></i> </a>
                                                </div>
                                                <div class="slider-img">
                                                    <img src="{{ banner.image.url }}" alt="" width="1000px">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="slider-arrow hero-slider-1-arrow style-3"></div>
                        </div>
                    </div>
                    <div class="col-lg-3 d-md-none d-lg-block">
                        {% for foo in queryset %}
                            <div class="banner-img banner-{{ forloop.counter }} wow fadeIn  animated">
                                <img class="border-radius-10" src="{{ foo.product_images.first.image.url }}"
                                     alt="">
                                <div class="banner-text">
                                    <span>{{ foo.category.first }}</span>
                                    <h4>Save {{ foo.percentage }}% on <br>{{ foo.title }}</h4>
                                    <a href="shop-grid-right.html">Shop Now <i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <section class="product-tabs pt-30 pb-30 wow fadeIn animated">
            <div class="container">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link {% if status_index == 'featured' %}active{% endif %}" id="nav-tab-one"
                                data-bs-toggle="tab" data-bs-target="#tab-one"
                                type="button" role="tab" aria-controls="tab-one" aria-selected="true">Featured
                        </button>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link {% if status_index == 'popular' %}active{% endif %}" href="/?status=popular"
                           id="nav-tab-two"
                           type="button">Popular
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link {% if status_index == 'top_rated' %}active{% endif %}"
                           href="/?status=top_rated" id="nav-tab-three"
                           type="button">Top Rated
                        </a>
                    </li>
                </ul>
                <!--End nav-tabs-->
                <div class="tab-content wow fadeIn animated" id="myTabContent">
                    <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                        <div class="row product-grid-4">
                            {% for product in products %}
                                <div class="col-lg-3 col-md-4 col-12 col-sm-5">
                                    <div class="product-cart-wrap mb-30">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom">
                                                <a href="/shop-details/{{ product.id }}">
                                                    <img class="default-img"
                                                         src="{{ product.product_images.first.image.url }}" alt=""
                                                         width="214px" height="214px">
                                                    <img class="hover-img"
                                                         src="{{ product.product_images.last.image.url }}" alt=""
                                                         width="214px" height="214px">
                                                </a>
                                            </div>
                                            <div class="product-action-1">
                                                <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                                   href="/order/wishlist/{{ product.id }}"><i
                                                        class="far fa-heart"></i></a>
                                            </div>
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                                <span class="{{ product.status.lower }}">{{ product.status }}</span>
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <div class="product-category">
                                                <a href="/shop-details/{{ product.id }}">{{ product.category.first }}</a>
                                            </div>
                                            <h2><a href="/shop-details/{{ product.id }}l">{{ product.title }}</a></h2>
                                            <div class="rating-result" title="{{ product.mid_rate }}%">
                                                {% if product.percentage > 0 %}
                                                    <span>
                                                <span>{{ product.percentage }}%</span>
                                            </span>
                                                {% endif %}
                                            </div>
                                            <div class="product-price">
                                                {% if product.percentage > 0 %}

                                                    <span>${{ product.discount }} </span>
                                                    <span class="old-price">${{ product.price }}</span>
                                                {% else %}
                                                    <span>${{ product.price }} </span>
                                                {% endif %}
                                            </div>
                                            <div class="product-action-1 show">

                                                <a aria-label="Add To Cart" class="action-btn hover-up"
                                                   href="/order/create_order_wishlist/{{ product.id }}"><i
                                                        class="far fa-shopping-bag"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <!--End product-grid-4-->
                    </div>
                </div>
                <!--End tab-content-->
            </div>
        </section>
        <section class="featured section-padding-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 mb-md-3">
                        <div class="banner-left-icon d-flex align-items-center wow fadeIn animated">
                            <div class="banner-icon">
                                <img src="{% static 'assets/imgs/theme/icons/icon-truck.svg' %}" alt="">
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Free Shipping</h3>
                                <p>Orders $50 or more</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-md-3">
                        <div class="banner-left-icon d-flex align-items-center wow fadeIn animated">
                            <div class="banner-icon">
                                <img src="{% static 'assets/imgs/theme/icons/icon-purchase.svg' %}" alt="">
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Free Returns</h3>
                                <p>Within 30 days</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="banner-left-icon d-flex align-items-center wow fadeIn animated">
                            <div class="banner-icon">
                                <img src="{% static 'assets/imgs/theme/icons/icon-bag.svg' %}" alt="">
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Get 20% Off 1 Item</h3>
                                <p>When you sign up</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="banner-left-icon d-flex align-items-center wow fadeIn animated">
                            <div class="banner-icon">
                                <img src="{% static 'assets/imgs/theme/icons/icon-operator.svg' %}" alt="">
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Support Center</h3>
                                <p>24/7 amazing services</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="banner-2 pt-60 pb-60">
            <div class="container">
                {% for advertisement in advertisements %}
                    <div class="banner-img banner-big wow fadeIn animated">
                        <img src="{{ advertisement.banner_image.url }}" alt="">
                        <div class="banner-text">
                            <h4 class="text-white">{{ advertisement.title }}</h4>
                            <p>{{ advertisement.description|safe }}</p>
                            <br>
                            <a href="shop-grid-right.html" class="btn">Learn More <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>

                {% endfor %}

            </div>
        </section>
        <section class="product-tabs pt-30 pb-30 wow fadeIn animated">
            <div class="container">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="nav-tab-one" data-bs-toggle="tab" data-bs-target="#tab-one"
                                type="button" role="tab" aria-controls="tab-one" aria-selected="true">Featured
                        </button>
                    </li>
                </ul>
                <!--End nav-tabs-->
                <div class="tab-content wow fadeIn animated" id="myTabContent">
                    <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                        <div class="row product-grid-4">
                            {% for product in objects %}
                                <div class="col-lg-3 col-md-4 col-12 col-sm-5">
                                    <div class="product-cart-wrap mb-30">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom">
                                                <a href="/shop-details/{{ product.id }}">
                                                    <img class="default-img"
                                                         src="{{ product.product_images.first.image.url }}" alt=""
                                                         width="214px" height="214px">
                                                    <img class="hover-img"
                                                         src="{{ product.product_images.first.image.url }}" alt=""
                                                         width="214px" height="214px">
                                                </a>
                                            </div>
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                                <span class="{{ product.status.lower }}">{{ product.status }}</span>
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <div class="product-category">
                                                <a href="/shop-details/{{ product.id }}">{{ product.category.first }}</a>
                                            </div>
                                            <h2><a href="/shop-details/{{ product.id }}">{{ product.title }}</a></h2>
                                            <div class="rating-result" title="{{ product.mid_rate }}%">
                                                {% if product.percentage > 0 %}
                                                    <span>
                                                <span>{{ product.percentage }}%</span>
                                            </span>
                                                {% endif %}
                                            </div>
                                            <div class="product-price">
                                                {% if product.percentage > 0 %}

                                                    <span>${{ product.discount }} </span>
                                                    <span class="old-price">${{ product.price }}</span>
                                                {% else %}
                                                    <span>${{ product.price }} </span>
                                                {% endif %}
                                            </div>
                                            <div class="product-action-1 show">
                                                <a aria-label="Add To Cart" class="action-btn hover-up"
                                                   href="/order/create_order_wishlist/{{ product.id }}"><i
                                                        class="far fa-shopping-bag"></i></a>
                                                <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                                   href="/order/wishlist/{{ product.id }}"><i
                                                        class="far fa-shopping-bag"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <!--End product-grid-4-->
                    </div>
                </div>
                <!--End tab-content-->
            </div>
        </section>
        <section class="mtb-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        {% for discount in discounts %}
                            <div class="banner-img wow fadeIn animated mb-md-4">
                                <img class="border-radius-10" src="{{ discount.product_images.first.image.url }}"
                                     alt="">
                                <div class="banner-text">
                                    <span>{{ discount.category.first.title }}</span>
                                    <h4>Save {{ discount.percentage }}% on <br>{{ discount.title }}</h4>
                                    <a href="shop-grid-right.html">Shop Now <i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title style-1 mb-30 wow fadeIn animated">Latest Products</h4>
                        <div class="product-list-small wow fadeIn animated">
                            {% for qs in last_products|slice:'0:3' %}
                                <article class="row align-items-center">
                                    <figure class="col-md-3 mb-0">
                                        <a href="/shop-details/{{ qs.id }}"><img
                                                src="{{ qs.product_images.first.image.url }}"
                                                alt=""></a>
                                    </figure>
                                    <div class="col-md-9 pl-0">
                                        <h4 class="title-small">
                                            <a href="/shop-details/{{ qs.id }}">{{ qs.title }}</a>
                                        </h4>
                                        <pre class="d-inline p-2"><code><i
                                                class="fa fa-star"></i> {{ qs.get_mid_rate }}</code></pre>
                                        <pre class="d-inline p-2"><code><i
                                                class="fa fa-eye"></i> {{ qs.view }}</code></pre>
                                        <div class="product-price">
                                            {% if qs.percentage > 0 %}

                                                <span>${{ qs.discount }} </span>
                                                <span class="old-price">${{ qs.price }}</span>
                                            {% else %}
                                                <span>${{ qs.price }} </span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </article>

                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title style-1 mb-30 wow fadeIn animated">Top Rated Products</h4>
                        <div class="product-list-small wow fadeIn animated">
                            {% for top_rate_product in top_rate_products|slice:'0:3' %}
                                <article class="row align-items-center">
                                    <figure class="col-md-3 mb-0">
                                        <a href="/shop-details/{{ top_rate_product.id }}"><img
                                                src="{{ top_rate_product.product_images.first.image.url }}"
                                                alt=""></a>
                                    </figure>
                                    <div class="col-md-9 pl-0">
                                        <h4 class="title-small">
                                            <a href="/shop-details/{{ top_rate_product.id }}">{{ top_rate_product.title }}</a>
                                        </h4>
                                        <pre class="d-inline p-2"><code><i
                                                class="fa fa-star"></i> {{ top_rate_product.get_mid_rate }}</code></pre>
                                        <pre class="d-inline p-2"><code><i
                                                class="fa fa-eye"></i> {{ top_rate_product.view }}</code></pre>
                                        <div class="product-price">
                                            <div class="product-price">
                                                {% if top_rate_product.percentage > 0 %}

                                                    <span>${{ top_rate_product.discount }} </span>
                                                    <span class="old-price">${{ top_rate_product.price }}</span>
                                                {% else %}
                                                    <span>${{ top_rate_product.price }} </span>
                                                {% endif %}
                                            </div>
                                        </div>
                                </article>

                            {% endfor %}

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title style-1 mb-30 wow fadeIn animated">Review Products</h4>
                        <div class="product-list-small wow fadeIn animated">
                            {% for top_viewed_product in top_viewed_products|slice:'0:3' %}
                                <article class="row align-items-center">
                                    <figure class="col-md-3 mb-0">
                                        <a href="/shop-details/{{ top_viewed_product.id }}"><img
                                                src="{{ top_viewed_product.product_images.first.image.url }}"
                                                alt=""></a>
                                    </figure>
                                    <div class="col-md-9 pl-0">

                                        <h4 class="title-small">
                                            <a href="/shop-details/{{ top_viewed_product.id }}">{{ top_viewed_product.title }}</a>
                                        </h4>
                                        <pre class="d-inline p-2"><code><i
                                                class="fa fa-star"></i> {{ top_viewed_product.get_mid_rate }}</code></pre>
                                        <pre class="d-inline p-2"><code><i
                                                class="fa fa-eye"></i> {{ top_viewed_product.view }}</code></pre>
                                        <div class="product-price">
                                            <div class="product-price">
                                                {% if top_viewed_product.percentage > 0 %}

                                                    <span>${{ top_viewed_product.discount }} </span>
                                                    <span class="old-price">${{ top_viewed_product.price }}</span>
                                                {% else %}
                                                    <span>${{ top_viewed_product.price }} </span>
                                                {% endif %}
                                            </div>
                                        </div>
                                </article>

                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}
