{% extends 'base.html' %}
{% load static %}
{% block content %}

    {% block style %}
        <style>
            @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

            fieldset, label {
                margin: 0;
                padding: 0;
            }

            body {
                margin: 20px;
            }

            h1 {
                font-size: 1.5em;
                margin: 10px;
            }

            /****** Style Star Rating Widget *****/

            .rating {
                border: none;
                float: left;
            }

            .rating > input {
                display: none;
            }

            .rating > label:before {
                margin: 5px;
                font-size: 1.25em;
                font-family: FontAwesome;
                display: inline-block;
                content: "\f005";
            }

            .rating > .half:before {
                content: "\f089";
                position: absolute;
            }

            .rating > label {
                color: #ddd;
                float: right;
            }

            /***** CSS Magic to Highlight Stars on Hover *****/

            .rating > input:checked ~ label, /* show gold star when clicked */
            .rating:not(:checked) > label:hover, /* hover current star */
            .rating:not(:checked) > label:hover ~ label {
                color: #FFD700;
            }

            /* hover previous stars in list */

            .rating > input:checked + label:hover, /* hover current star when changing rating */
            .rating > input:checked ~ label:hover,
            .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
            .rating > input:checked ~ label:hover ~ label {
                color: #FFED85;
            }
        </style>
    {% endblock %}

    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> {{ product.category.first }}
                    <span></span> {{ product.title }}
                </div>
            </div>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <section class="mt-60 mb-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="product-detail accordion-detail">
                            <div class="row mb-50">
                                <div class="col-md-6 col-sm-12 col-xs-12" style="height: 70%">
                                    <div class="detail-gallery">
                                        <span class="zoom-icon"><i class="fa fa-search-plus"></i></span>
                                        <!-- MAIN SLIDES -->
                                        <div class="product-image-slider">
                                            {% for img in product.product_images.all %}
                                                <figure class="border-radius-10">
                                                    <img src="{{ img.image.url }}" alt="product image">
                                                </figure>
                                            {% endfor %}
                                        </div>
                                        <!-- THUMBNAILS -->
                                        <div class="slider-nav-thumbnails pl-15 pr-15">
                                            {% for img in product.product_images.all %}
                                                <div><img src="{{ img.image.url }}" alt="product image"></div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-info">
                                        <h2 class="title-detail">{{ product.title }}</h2>
                                        <div class="product-detail-rating">
                                            <div class="pro-details-brand">
                                                <span> Brands: <a href="#">{{ product.brand }}</a></span>
                                            </div>
                                            <div class="product-rate-cover text-end">
                                                <div class="product-rate d-inline-block">
                                                    <div class="product-rating"
                                                         style="width:{{ product.mid_rate_percent }}%">
                                                    </div>
                                                </div>
                                                <span class="font-small ml-5 text-muted"> ({{ product.product_rate.all.count }} reviews)</span>
                                            </div>
                                        </div>
                                        <div class="clearfix product-price-cover">
                                            <div class="product-price primary-color float-left">
                                                <ins><span class="text-brand">{{ product.price }}</span></ins>
                                                {% if product.percentage > 0 %}
                                                    <ins><span
                                                            class="old-price font-md ml-15">{{ product.discount }}</span>
                                                    </ins>
                                                    <span class="save-price  font-md color3 ml-15">{{ product.percentage }}% Off</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                        <div class="short-desc mb-30">
                                            {{ product.description|safe|truncatewords:40 }}
                                        </div>
                                        <div class="attr-detail attr-color mb-15">
                                            <strong class="mr-10">Color</strong>
                                            <ul class="list-filter color-filter">
                                                {% for color in colors %}
                                                    <li><a href="#" data-color="Red"><span class=""
                                                                                           style="background-color: {{ color.name }}"></span></a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        {% if product.has_size %}
                                            <div class="attr-detail attr-size">
                                                <strong class="mr-10">Size</strong>
                                                <ul class="list-filter size-filter font-small size_class">
                                                    <li class="size_"><a href="#">S <input type="hidden" value="S"></a>
                                                    </li>
                                                    <li class="active"><a href="#">M</a></li>
                                                    <li><a href="#">L</a></li>
                                                    <li><a href="#">XL</a></li>
                                                    <li><a href="#">XXL</a></li>
                                                </ul>
                                            </div>
                                        {% endif %}
                                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                        <div class="detail-extralink">
                                            <div class="border radius">
                                                {% csrf_token %}
                                                <input class="prod_id" type="hidden" value="{{ product.id }}">
                                                <input class="qty-input" type="number" min="1" value="1">
                                            </div>
                                            <div class="product-extra-link2">
                                                <button type="button" class="button button-add-to-cart addToCartBtn">Add
                                                    to cart
                                                </button>
                                                <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                                   href="/order/wishlist/{{ product.id }}"><i class="far fa-heart"></i></a>
                                            </div>
                                        </div>
                                        <ul class="product-meta font-xs color-grey mt-50">
                                            <li>Availability:<span
                                                    class="in-stock text-success ml-5">{{ product.availability }} Items In Stock</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Detail Info -->
                                </div>
                            </div>
                            <div class="tab-style3">
                                <ul class="nav nav-tabs text-uppercase">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="Description-tab" data-bs-toggle="tab"
                                           href="#Description">Description</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="Additional-info-tab" data-bs-toggle="tab"
                                           href="#Additional-info">Additional info</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="Reviews-tab" data-bs-toggle="tab" href="#Reviews">Reviews
                                            ({{ product.product_rate.all.count }})</a>
                                    </li>
                                </ul>
                                <div class="tab-content shop_info_tab entry-main-content">
                                    <div class="tab-pane fade show active" id="Description">
                                        <div class="">
                                            {{ product.description|safe }}
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="Additional-info">
                                        <table class="font-md">
                                            <tbody>
                                            {% for item in product.additional_info.all %}
                                                <tr class="stand-up">
                                                    <th>{{ item.title }}</th>
                                                    <td>
                                                        <p>{{ item.description|safe }}</p>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade" id="Reviews">
                                        <!--Comments-->
                                        <div class="comments-area">
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <h4 class="mb-30">Customer feedbacks</h4>
                                                    <div class="comment-list">
                                                        {% for rate in product.product_rate.all %}
                                                            <div class="single-comment justify-content-between d-flex">
                                                                <div class="user justify-content-between d-flex">
                                                                    <div class="thumb text-center">
                                                                        <img src="{% static '' %}assets/imgs/user.png"
                                                                             alt="">
                                                                        <h6><a href="#">{{ rate.user.username }}</a>
                                                                        </h6>
                                                                    </div>
                                                                    <div class="desc">
                                                                        <div class="product-rate d-inline-block">
                                                                            <div class="product-rating"
                                                                                 style="width:{{ rate.rate_percent }}%">
                                                                            </div>
                                                                        </div>
                                                                        <p>{{ rate.comment }}</p>
                                                                        <div class="d-flex justify-content-between">
                                                                            <div class="d-flex align-items-center">
                                                                                <p class="font-xs mr-30">{{ rate.created_at }}
                                                                                    3:12 pm </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--comment form-->
                                        <div class="comment-form">
                                            <form class="form-contact comment_form" action="{% url 'review' %}"
                                                  method="post" id="commentForm">
                                                {% csrf_token %}
                                                <h4 class="mb-15">Add a review</h4>
                                                <fieldset class="rating">
                                                    <input type="radio" id="star5" name="rating" value="5"/>
                                                    <label
                                                            class="full" for="star5" title="Awesome - 5 stars"></label>
                                                    <input type="radio" id="star4" name="rating" value="4"/><label
                                                        class="full" for="star4" title="Pretty good - 4 stars"></label>
                                                    <input type="radio" id="star3" name="rating" value="3"/><label
                                                        class="full" for="star3" title="Meh - 3 stars"></label>
                                                    <input type="radio" id="star2" name="rating" value="2"/><label
                                                        class="full" for="star2" title="Kinda bad - 2 stars"></label>
                                                    <input type="radio" id="star1" name="rating" value="1"/><label
                                                        class="full" for="star1"
                                                        title="Sucks big time - 1 star"></label>
                                                </fieldset>

                                                <div class="row">
                                                    <div class="col-lg-8 col-md-12">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <textarea class="form-control w-100" name="comment"
                                                                              id="comment" cols="30" rows="9"
                                                                              placeholder="Write Comment"></textarea>
                                                                </div>
                                                            </div>
                                                            <input type="hidden" name="product"
                                                                   value="{{ product.id }}">
                                                            <div class="form-group">
                                                                <button type="submit" class="button button-contactForm">
                                                                    Submit
                                                                    Review
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-60">
                                <div class="col-12">
                                    <h3 class="section-title style-1 mb-30">Related products</h3>
                                </div>
                                <div class="row">
                                    {% for item in related_products %}
                                        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                            <div class="product-cart-wrap small hover-up">
                                                <div class="product-img-action-wrap">
                                                    <div class="product-img product-img-zoom">
                                                        <a href="/details/{{ item.id }}" tabindex="0">
                                                            <img class="default-img"
                                                                 src="{{ item.product_images.first.image.url }}"
                                                                 alt="">
                                                            <img class="hover-img"
                                                                 src="{{ item.product_images.last.image.url }}"
                                                                 alt="">
                                                        </a>
                                                    </div>
                                                    <div class="product-action-1">
                                                        <a aria-label="Add To Wishlist"
                                                           class="action-btn small hover-up"
                                                           href="shop-wishlist.html" tabindex="0"><i
                                                                class="far fa-heart"></i></a>
                                                    </div>
                                                    <div class="product-badges product-badges-position product-badges-mrg">
                                                        <span class="{{ product.status.lower }}">{{ product.status }}</span>
                                                    </div>
                                                </div>
                                                <div class="product-content-wrap">
                                                    <h2><a href="/details/{{ item.id }}"
                                                           tabindex="0">{{ item.title }}</a>
                                                    </h2>
                                                    <div class="rating-result" title="90%">
                                                    <span>
                                                    </span>
                                                    </div>
                                                    <div class="product-price">
                                                        <span>{{ item.price }} </span>
                                                        {% if item.percentage > 0 %}
                                                            <span class="old-price">{{ item.discount }}</span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 primary-sidebar sticky-sidebar">
                        <div class="widget-area">
                            <!-- Product sidebar Widget -->
                            <div class="sidebar-widget product-sidebar  mb-30 p-30 bg-grey border-radius-10">
                                <div class="widget-header position-relative mb-20 pb-10">
                                    <h5 class="widget-title mb-10">New products</h5>
                                    <div class="bt-1 border-color-1"></div>
                                </div>
                                {% for item in new_products %}
                                    <div class="single-post clearfix">
                                        <div class="image">
                                            <img src="{{ item.product_images.first.image.url }}" alt="#">
                                        </div>
                                        <div class="content pt-10">
                                            <h5><a href="/details/{{ item.id }}">{{ item.title }}</a></h5>
                                            <p class="price mb-0 mt-5">{{ item.price }}</p>
                                            <div class="product-rate">
                                                <div class="product-rating"
                                                     style="width:{{ item.mid_rate_percent }}%"></div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <!--Widget categories-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
{% block script %}
    <script src="{% static '' %}assets/js/shop.js"></script>
    <script src="{% static '' %}assets/js/plugins/jquery.theia.sticky.js"></script>
    <script src="{% static '' %}assets/js/plugins/jquery.elevatezoom.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js">
    </script>
    <script src="{% static '' %}assets/js/alertify.min.js"></script>
    <script src="{% static '' %}assets/js/ajax_request.js"></script>

{% endblock %}